

.nav-bar-option{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

.user-icon{

    padding-right: 5px;
    cursor: pointer;

}

.navbar-custom{
    border-bottom: 1px solid #e7eaf3;
}

.api-key{
    cursor: pointer;
}